{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for rows in rows %}
    <div class="card-body">
     
        <div class="flip-card-container" style="--hue: 220">
            <div class="flip-card"> 
              <div class="card-front">
                <figure>
                  <div class="img-bg"></div>
                  <img src="{{ rows.images.url }}" alt="">
                  <figcaption>{{ rows.row_name }}</figcaption>
                </figure>


              </div>

              <div class="card-back">
                <figure>
                  <div class="img-bg"></div>
                  <img src="{% static 'images/rack.png'%}" alt="">
                </figure>
               
                <a href="{{ rows.get_url }}"><button>View</button></a>
              
                <div class="design-container">
                  <span class="design design--1"></span>
                  <span class="design design--2"></span>
                  <span class="design design--3"></span>
                  <span class="design design--4"></span>
                  <span class="design design--5"></span>
                  <span class="design design--6"></span>
                  <span class="design design--7"></span>
                  <span class="design design--8"></span>
                </div>
              </div>
              
            </div>
           
          </div>
          {% endfor %}
    </div>
          

          
    
</body>
</html>

{% endblock %}